<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exame unidad II</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
        .header-container {
            background-color: #4CAF50; 
            padding: 20px; 
            text-align: center;
            color: white; 
            border: 1px solid #4CAF50; 
            border-radius: 10px; 
        }

        .header-container h1 {
            margin: 0; 
            font-size: 1.5em; 
        }
    </style>
</head>
<body class="container">
    <center>
        <div class="header-container p-3">
            <h1>Colegio Patria</h1>
            <h2></h2>
            <img src="https://colegiopatriatala.edu.mx/index_archivos/image002.jpg" alt="Colegio Patria" width="150">
            
        </div>
    </center>
</body>
</html>