<%-include('partials/header.ejs')%>
<%-include('partials/nav.ejs')%>
<section>
    
    <style>
        section {
            margin: 20px auto;
            max-width: 600px;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    
        #formulario {
            border: 1px solid gainsboro;
            padding: 20px;
            border-radius: 8px;
        }
    
        form {
            text-align: left;
        }
    
        .form-group {
            margin-bottom: 15px;
        }
    
        label {
            display: block;
            margin-bottom: 5px;
        }
    
        input, select {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-bottom: 10px;
        }
    
        button {
            padding: 12px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    
    </style>
    <div id="formulario">
        <center>
            
        <form action="/" method="post">
            <br>
            <div class="form-group">
                <label for="">Num. Docente: </label>
                <input type="number" name="numdocente" id="numdocente" required value=<%=numdocente%>>
            </div>
            <br>
            <div class="form-group">
                <label for="">Nombre: </label>
                <input type="text" name="nombre" id="nombre" required value=<%=nombre%>>
            </div>
            <br>
            <div class="form-group">
                <label for="">Domicilio: </label>
                <input type="text" name="domicilio" id="domicilio" required value=<%=domicilio%>> 
            </div>
            <br>
            <div class="form-group">
                <label for="">Nivel: </label>
                <select name="nivel" id="nivel" required>
                    <option value="1">Licenciatura o Ingenieria</option>
                    <option value="2">Maestro en Ciencias</option>
                    <option value="3">Doctor</option>

                </select>
            </div>
            <br>
            <div class="form-group">
                <label for="">Pago hora base: </label>
                <input type="number" name="pago" id="pago" required value=<%=pago%>>
            </div>
            <div class="form-group">
                <label for="">Horas impartidas: </label>
                <input type="number" name="hi" id="hi" required value=<%=hi%>>
            </div>
            <div class="form-group">
                <label for="">Seleccione el número de hijos: </label>
                <select name="hijos" id="hijos" required>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 o más</option>
                </select>
            </div>
            <br>
            <button type="submit">Calcular</button>
            <button type="reset" ><a href="/" style="text-decoration: none;color: white;">Limpiar</a></button> <br>
            <br>
        </form>
        </center>
    </div>
</section>

<% 
let incremento = 0;
let pagoTotal = 0;
let impuesto = 0;
let bono = 0;
switch(nivel){
    case "1": incremento = 0.3; break;
    case "2": incremento = 0.5; break;
    case "3": incremento = 1; break;
    default: break;
}
const pagohr = pago * (incremento + 1);
pagoTotal = pagohr * hi;
impuesto = pagoTotal * 0.16;

switch (hijos) {
    case "0": bono = 0; break;
    case "1": bono = pagoTotal * 0.05; break;
    case "2": bono = pagoTotal * 0.05; break;
    case "3": bono = pagoTotal * 0.1; break;
    case "4": bono = pagoTotal * 0.1; break;
    case "5": bono = pagoTotal * 0.2; break;
    default: break;
}
%>
<br>
<section>
    <center>
    <h2>Detalles del pago</h2>
    <p>Pago por horas impartidas: $ <span><%= pagoTotal %></span></p>
    <p>Pago por bono: $ <span><%= bono %></span></p>
    <p>Impuestos: $ <span><%= impuesto %></span></p>
    <p>Total a Pagar: $ <span><%= pagoTotal - impuesto + bono %></span></p>
</center>
</section>

<%-include('partials/footer.ejs')%>
